* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.container {
    background-image: url('../assets/Rectangle\ 1.png');
    height: 100vh;
    width: 100vw;
    display: flex;


}

.ramen {
    width: 124px;
    height: 15px;
    margin-left: 40px;
    margin-top: 40.33px;
}

.entregadora {
    width: 619px;
    height: 574px;
    margin-top: 38px;
    margin-left: -56px;
}

.secondcontainer {
    text-align: center;
    margin-top: 120px;
}

.japones {
    margin-bottom: 24px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 201px;
    height: 124px;
    color: #FFFFFF;
    margin-left: 159px;
    text-align: start;
    position: relative;
}

h1 {
    position: absolute;
    top: 166px;
    left: 369px;
    font-size: 148px;
    font-weight: 900;
    color: #FAFAED;
}

button {
    position: relative;
    left: 60px;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 24px;
}

button:hover {
    opacity: 0.8;
}

@media screen and (max-width:900px) {

    .ramen {
        margin-left: 162px;
        margin-top: 20px;
        width: 132px;
        height: 19px;
    }

    .container {
        max-height: 100vh;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .entregadora {
        position: absolute;
        top: 38px;
        width: 290px;
        height: 290px;
        left: 135px;
    }

    .japones {
        content: url('../assets/ラ\ l\ メ\ ン-responsividade.png');
        margin-top: 242px;
    }

    h1 {
        font-size: 120px;
        font-weight: 900;
        line-height: 100px;
        text-align: center;
        position: relative;
        left: 6px;
        top: -184px;
    }

    button {
        position: relative;
        top: 7rem;
        left: 40px;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        position: relative;
        left: -56px;
        top: 99px;
        height: 81px;
        width: 258px;
    }
}